 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 877px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 129px auto 0 110px;
}

.u-section-1 .u-image-1 {
  width: 341px;
  height: 455px;
  margin: -79px 110px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5625rem;
  font-weight: 400;
  margin: -361px auto 0 110px;
}

.u-section-1 .u-countdown-1 {
  margin: 111px auto 0 110px;
}

.u-section-1 .u-countdown-item-1 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  background-image: none;
  padding: 10px 22px;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 55px auto 0 110px;
}

.u-section-1 .u-line-1 {
  width: 71px;
  height: 0;
  transform-origin: center top;
  margin: -10px auto 60px 292px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -308px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: -280px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 454px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -313px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-countdown-item-1 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-item-2 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-item-3 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-item-4 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-item-5 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-item-6 {
    padding: 16px 8px;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-line-1 {
    margin-left: 269px;
  }
}